<!DOCTYPE html>
<html>
<head>
  <title>Redit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<header>
  <%= link_to "Redit", root_path %>
  <% if logged_in? %>
    <%= link_to("Log Out #{current_user.username}", "/session", method: "delete") %>
      <%= link_to "Submit Story", new_user_story_path(current_user) %>
  <% else %>
    <%= link_to("Member Log In", login_path) %>
    <%= link_to("Sign Up", new_user_path) %>
  <% end %>
</header>

<%= yield %>

<footer>
  <%= debug params %>
  <%= debug session.to_hash %>
</footer>

</body>
</html>
